:root {
  /* Gray scale */
  --base-hue-gray: 223;

  --base-gray: var(--base-hue-gray), 15%;
  --palette-gray-00: var(--base-gray), 100%;
  --palette-gray-02: var(--base-gray), 98%;
  --palette-gray-03: var(--base-gray), 97%;
  --palette-gray-05: var(--base-gray), 95%;
  --palette-gray-10: var(--base-gray), 90%;
  --palette-gray-15: var(--base-gray), 85%;
  --palette-gray-20: var(--base-gray), 80%;
  --palette-gray-25: var(--base-gray), 75%;
  --palette-gray-30: var(--base-gray), 70%;
  --palette-gray-35: var(--base-gray), 65%;
  --palette-gray-40: var(--base-gray), 60%;
  --palette-gray-45: var(--base-gray), 55%;
  --palette-gray-50: var(--base-gray), 50%;
  --palette-gray-55: var(--base-gray), 45%;
  --palette-gray-60: var(--base-gray), 40%;
  --palette-gray-65: var(--base-gray), 35%;
  --palette-gray-70: var(--base-gray), 30%;
  --palette-gray-75: var(--base-gray), 25%;
  --palette-gray-80: var(--base-gray), 20%;
  --palette-gray-85: var(--base-gray), 15%;
  --palette-gray-88: var(--base-gray), 12%;
  --palette-gray-90: var(--base-gray), 10%;
  --palette-gray-95: var(--base-gray), 5%;
  --palette-gray-98: var(--base-gray), 2%;

  /* Blue scale */
  --base-hue: 222;
  --base-saturation: 89;

  --base-blue: var(--base-hue), calc(var(--base-saturation) * 1%);
  --palette-blue-00: var(--base-blue), 100%;
  --palette-blue-05: var(--base-blue), 95%;
  --palette-blue-10: var(--base-blue), 90%;
  --palette-blue-15: var(--base-blue), 85%;
  --palette-blue-20: var(--base-blue), 80%;
  --palette-blue-25: var(--base-blue), 75%;
  --palette-blue-30: var(--base-blue), 70%;
  --palette-blue-35: var(--base-blue), 65%;
  --palette-blue-40: var(--base-blue), 60%;
  --palette-blue-45: var(--base-blue), 55%;
  --palette-blue-50: var(--base-blue), 50%;
  --palette-blue-55: var(--base-blue), 45%;
  --palette-blue-60: var(--base-blue), 40%;
  --palette-blue-65: var(--base-blue), 35%;
  --palette-blue-70: var(--base-blue), 30%;
  --palette-blue-75: var(--base-blue), 25%;
  --palette-blue-80: var(--base-blue), 20%;
  --palette-blue-85: var(--base-blue), 15%;
  --palette-blue-90: var(--base-blue), 10%;
  --palette-blue-95: var(--base-blue), 5%;

  /* Red scale */
  --base-red: 0, 99%;
  --palette-red-05: var(--base-red), 95%;
  --palette-red-10: var(--base-red), 90%;
  --palette-red-15: var(--base-red), 85%;
  --palette-red-20: var(--base-red), 80%;
  --palette-red-25: var(--base-red), 75%;
  --palette-red-30: var(--base-red), 70%;
  --palette-red-35: var(--base-red), 65%;
  --palette-red-40: var(--base-red), 60%;
  --palette-red-45: var(--base-red), 55%;
  --palette-red-50: var(--base-red), 50%;
  --palette-red-55: var(--base-red), 45%;
  --palette-red-60: var(--base-red), 40%;
  --palette-red-65: var(--base-red), 35%;
  --palette-red-70: var(--base-red), 30%;
  --palette-red-75: var(--base-red), 25%;
  --palette-red-80: var(--base-red), 20%;
  --palette-red-85: var(--base-red), 15%;
  --palette-red-90: var(--base-red), 10%;
  --palette-red-95: var(--base-red), 5%;

  /* Orange scale */
  --base-orange: 42, 100%;
  --palette-orange-05: var(--base-orange), 95%;
  --palette-orange-10: var(--base-orange), 90%;
  --palette-orange-15: var(--base-orange), 85%;
  --palette-orange-20: var(--base-orange), 80%;
  --palette-orange-25: var(--base-orange), 75%;
  --palette-orange-30: var(--base-orange), 70%;
  --palette-orange-35: var(--base-orange), 65%;
  --palette-orange-40: var(--base-orange), 60%;
  --palette-orange-45: var(--base-orange), 55%;
  --palette-orange-50: var(--base-orange), 50%;
  --palette-orange-55: var(--base-orange), 45%;
  --palette-orange-60: var(--base-orange), 40%;
  --palette-orange-65: var(--base-orange), 35%;
  --palette-orange-70: var(--base-orange), 30%;
  --palette-orange-75: var(--base-orange), 25%;
  --palette-orange-80: var(--base-orange), 20%;
  --palette-orange-85: var(--base-orange), 15%;
  --palette-orange-90: var(--base-orange), 10%;
  --palette-orange-95: var(--base-orange), 5%;

  /* Green scale */
  --base-green: 160, 100%;
  --palette-green-05: var(--base-green), 95%;
  --palette-green-10: var(--base-green), 90%;
  --palette-green-15: var(--base-green), 85%;
  --palette-green-20: var(--base-green), 80%;
  --palette-green-25: var(--base-green), 75%;
  --palette-green-30: var(--base-green), 70%;
  --palette-green-35: var(--base-green), 65%;
  --palette-green-40: var(--base-green), 60%;
  --palette-green-45: var(--base-green), 55%;
  --palette-green-50: var(--base-green), 50%;
  --palette-green-55: var(--base-green), 45%;
  --palette-green-60: var(--base-green), 40%;
  --palette-green-65: var(--base-green), 35%;
  --palette-green-70: var(--base-green), 30%;
  --palette-green-75: var(--base-green), 25%;
  --palette-green-80: var(--base-green), 20%;
  --palette-green-85: var(--base-green), 15%;
  --palette-green-90: var(--base-green), 10%;
  --palette-green-95: var(--base-green), 5%;

  /* Pink scale */
  --base-pink: 330, 98%;
  --palette-pink-05: var(--base-pink), 95%;
  --palette-pink-10: var(--base-pink), 90%;
  --palette-pink-15: var(--base-pink), 85%;
  --palette-pink-20: var(--base-pink), 80%;
  --palette-pink-25: var(--base-pink), 75%;
  --palette-pink-30: var(--base-pink), 70%;
  --palette-pink-35: var(--base-pink), 65%;
  --palette-pink-40: var(--base-pink), 60%;
  --palette-pink-45: var(--base-pink), 55%;
  --palette-pink-50: var(--base-pink), 50%;
  --palette-pink-55: var(--base-pink), 45%;
  --palette-pink-60: var(--base-pink), 40%;
  --palette-pink-65: var(--base-pink), 35%;
  --palette-pink-70: var(--base-pink), 30%;
  --palette-pink-75: var(--base-pink), 25%;
  --palette-pink-80: var(--base-pink), 20%;
  --palette-pink-85: var(--base-pink), 15%;
  --palette-pink-90: var(--base-pink), 10%;
  --palette-pink-95: var(--base-pink), 5%;

  /* Indigo scale */
  --base-indigo: 239, 84%;
  --palette-indigo-05: var(--base-indigo), 95%;
  --palette-indigo-10: var(--base-indigo), 90%;
  --palette-indigo-15: var(--base-indigo), 85%;
  --palette-indigo-20: var(--base-indigo), 80%;
  --palette-indigo-25: var(--base-indigo), 75%;
  --palette-indigo-30: var(--base-indigo), 70%;
  --palette-indigo-35: var(--base-indigo), 65%;
  --palette-indigo-40: var(--base-indigo), 60%;
  --palette-indigo-45: var(--base-indigo), 55%;
  --palette-indigo-50: var(--base-indigo), 50%;
  --palette-indigo-55: var(--base-indigo), 45%;
  --palette-indigo-60: var(--base-indigo), 40%;
  --palette-indigo-65: var(--base-indigo), 35%;
  --palette-indigo-70: var(--base-indigo), 30%;
  --palette-indigo-75: var(--base-indigo), 25%;
  --palette-indigo-80: var(--base-indigo), 20%;
  --palette-indigo-85: var(--base-indigo), 15%;
  --palette-indigo-90: var(--base-indigo), 10%;
  --palette-indigo-95: var(--base-indigo), 5%;

  --border-radius-0: 4px;
  --border-radius-1: 8px;
  --border-radius-2: 16px;

  --default-gutter: 1fr;
  --max-width-medium: 880px;
  --max-width-small: 700px;
  --layout-medium: var(--default-gutter) minmax(auto, var(--max-width-medium))
    var(--default-gutter);
  --layout-small: var(--default-gutter) minmax(auto, var(--max-width-small))
    var(--default-gutter);
}

.maximeheckel-light {
  --maximeheckel-colors-brand: hsla(var(--palette-blue-50), 100%);
  --maximeheckel-colors-body: hsla(var(--palette-gray-02), 100%);
  --maximeheckel-colors-emphasis: hsla(var(--palette-blue-50), 5%);
  --maximeheckel-colors-foreground: hsla(var(--palette-gray-10), 21%);
  --maximeheckel-colors-danger: hsla(var(--palette-red-55), 100%);
  --maximeheckel-colors-danger-emphasis: hsla(var(--palette-red-15), 15%);
  --maximeheckel-colors-warning: hsla(var(--palette-orange-80), 100%);
  --maximeheckel-colors-warning-emphasis: hsla(var(--palette-orange-45), 15%);
  --maximeheckel-colors-success: hsl(var(--palette-green-80));
  --maximeheckel-colors-success-emphasis: hsla(var(--palette-green-45), 15%);
  --maximeheckel-colors-typeface-primary: hsla(var(--palette-indigo-90), 100%);
  --maximeheckel-colors-typeface-secondary: hsla(var(--palette-gray-55), 100%);
  --maximeheckel-colors-typeface-tertiary: hsla(var(--palette-gray-60), 100%);
  --maximeheckel-colors-typeface-danger: hsla(var(--palette-red-60), 100%);
  --maximeheckel-shadow-1: 0 0px 10px -6px rgba(0, 24, 40, 0.3);
  --maximeheckel-shadow-2: 0 0px 15px -6px rgba(0, 24, 40, 0.4);
  --maximeheckel-shadow-3: 0 0px 20px -6px rgba(0, 24, 40, 0.5);

  --maximeheckel-border-color: var(--maximeheckel-colors-emphasis);
  --maximeheckel-card-background-color: hsl(var(--palette-gray-03));

  --code-snippet-background: hsla(var(--palette-gray-10), 0.2);
  --token-comment: hsl(var(--maximeheckel-colors-typeface-tertiary));
  --token-selector: hsl(var(--palette-indigo-50));
  --token-symbol: hsl(var(--palette-blue-60));
  --token-operator: hsl(var(--palette-orange-75));
  --token-keyworkd: hsl(var(--palette-blue-50));
  --token-function: hsl(var(--palette-pink-60));
  --token-punctuation: hsl(var(--palette-indigo-60));
}

.maximeheckel-dark {
  --maximeheckel-colors-brand: hsla(var(--palette-blue-35), 100%);
  --maximeheckel-colors-body: hsla(var(--palette-gray-90), 100%);
  --maximeheckel-colors-emphasis: hsla(var(--palette-blue-35), 10%);
  --maximeheckel-colors-foreground: hsla(var(--palette-gray-85), 45%);
  --maximeheckel-colors-danger: hsla(var(--palette-red-30), 100%);
  --maximeheckel-colors-danger-emphasis: hsla(var(--palette-red-40), 15%);
  --maximeheckel-colors-warning: hsla(var(--palette-orange-45), 100%);
  --maximeheckel-colors-warning-emphasis: hsla(var(--palette-orange-45), 15%);
  --maximeheckel-colors-success: hsla(var(--palette-green-45), 100%);
  --maximeheckel-colors-success-emphasis: hsla(var(--palette-green-45), 15%);
  --maximeheckel-colors-typeface-primary: hsla(var(--palette-indigo-05), 100%);
  --maximeheckel-colors-typeface-secondary: hsla(var(--palette-gray-35), 100%);
  --maximeheckel-colors-typeface-tertiary: hsla(var(--palette-gray-20), 100%);
  --maximeheckel-colors-typeface-danger: hsla(var(--palette-red-20), 100%);
  --maximeheckel-shadow-1: 0 0px 20px -6px rgba(0, 0, 0, 0.7);
  --maximeheckel-shadow-2: 0 0px 25px -6px rgba(0, 0, 0, 0.8);
  --maximeheckel-shadow-3: 0 0px 30px -6px rgba(0, 0, 0, 0.9);

  --maximeheckel-border-color: hsl(var(--palette-gray-80));
  --maximeheckel-card-background-color: hsl(var(--palette-gray-88));

  --code-snippet-background: hsla(var(--palette-gray-85), 0.5);
  --token-comment: hsl(var(--maximeheckel-colors-typeface-tertiary));
  --token-selector: hsl(var(--palette-indigo-20));
  --token-symbol: hsl(var(--palette-blue-35));
  --token-operator: hsl(var(--palette-orange-35));
  --token-keyworkd: hsl(var(--palette-blue-30));
  --token-function: hsl(var(--palette-pink-35));
  --token-punctuation: hsl(var(--palette-indigo-20));
}

::selection {
  background-color: var(--maximeheckel-colors-emphasis);
  color: var(--maximeheckel-colors-brand);
}

body {
  background: var(--maximeheckel-colors-body);
  text-rendering: optimizeLegibility;
  margin: 0;
}

a {
  color: var(--maximeheckel-colors-brand);
  text-decoration: underline;
}

[hidden],
.hidden {
  display: none;
}

.lock-scroll {
  overflow: hidden !important;
}

.isCurrent > a {
  color: var(--maximeheckel-colors-brand) !important;
}

code {
  font-family: Fira Code;
  font-size: 0.85rem;
  line-height: 1.45rem;
}

/**
  The following properties are set to !important to override react-simple-code-editor
  default inline styles
**/
pre,
textarea.npm__react-simple-code-editor__textarea {
  background-color: var(--code-snippet-background) !important;
  font-family: Fira Code !important;
  font-size: 14px !important;
  line-height: 26px !important;
}

.token.parameter,
.token.imports,
.token.plain,
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--token-comment);
}

.token.punctuation {
  color: var(--token-punctuation);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--token-symbol);
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.number,
.token.string,
.token.inserted {
  color: var(--token-selector);
}

.token.operator,
.token.entity,
.token.url,
.language-css .style {
  color: var(--token-operator);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--token-keyworkd);
}

.token.function,
.token.maybe-class-name,
.token.class-name {
  color: var(--token-function);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--token-operator);
}

span[aria-hidden='true'] {
  display: none;
}

span[aria-hidden='false'] {
  display: block;
}
