:root {
  --base-hue: 222;
  --base-saturation: 89;

  --base-gray: var(--base-hue), 8%;
  --palette-gray-00: var(--base-gray), 100%;
  --palette-gray-10: var(--base-gray), 95%;
  --palette-gray-15: var(--base-gray), 90%;
  --palette-gray-20: var(--base-gray), 85%;
  --palette-gray-30: var(--base-gray), 75%;
  --palette-gray-40: var(--base-gray), 65%;
  --palette-gray-50: var(--base-gray), 55%;
  --palette-gray-60: var(--base-gray), 45%;
  --palette-gray-70: var(--base-gray), 35%;
  --palette-gray-80: var(--base-gray), 25%;
  --palette-gray-90: var(--base-gray), 15%;
  --palette-gray-95: var(--base-gray), 10%;
  --palette-gray-100: var(--base-gray), 5%;

  --base-blue: var(--base-hue), calc(var(--base-saturation) * 1%);
  --palette-blue-10: var(--base-blue), 95%;
  --palette-blue-20: var(--base-blue), 85%;
  --palette-blue-30: var(--base-blue), 75%;
  --palette-blue-40: var(--base-blue), 65%;
  --palette-blue-50: var(--base-blue), 55%;
  --palette-blue-60: var(--base-blue), 45%;
  --palette-blue-70: var(--base-blue), 35%;
  --palette-blue-80: var(--base-blue), 25%;
  --palette-blue-90: var(--base-blue), 15%;

  --base-red: 353, 100%;
  --palette-red-10: var(--base-red), 95%;
  --palette-red-20: var(--base-red), 85%;
  --palette-red-30: var(--base-red), 75%;
  --palette-red-40: var(--base-red), 65%;
  --palette-red-50: var(--base-red), 55%;

  --base-orange: 42, 100%;
  --palette-orange-10: var(--base-orange), 95%;
  --palette-orange-20: var(--base-orange), 85%;
  --palette-orange-30: var(--base-orange), 75%;
  --palette-orange-40: var(--base-orange), 65%;
  --palette-orange-50: var(--base-orange), 55%;
  --palette-orange-60: var(--base-orange), 45%;
  --palette-orange-70: var(--base-orange), 35%;
  --palette-orange-80: var(--base-orange), 25%;
  --palette-orange-90: var(--base-orange), 15%;

  --base-green: 148, 100%;
  --palette-green-10: var(--base-green), 95%;
  --palette-green-20: var(--base-green), 85%;
  --palette-green-30: var(--base-green), 75%;
  --palette-green-40: var(--base-green), 65%;
  --palette-green-50: var(--base-green), 55%;
  --palette-green-60: var(--base-green), 45%;
  --palette-green-70: var(--base-green), 35%;
  --palette-green-80: var(--base-green), 25%;
  --palette-green-90: var(--base-green), 15%;

  --base-pink: 330, 81%;
  --palette-pink-10: var(--base-pink), 90%;
  --palette-pink-20: var(--base-pink), 80%;
  --palette-pink-30: var(--base-pink), 70%;
  --palette-pink-40: var(--base-pink), 60%;
  --palette-pink-50: var(--base-pink), 50%;
  --palette-pink-60: var(--base-pink), 40%;

  --base-cyan: 176, 80%;
  --palette-cyan-10: var(--base-cyan), 90%;
  --palette-cyan-20: var(--base-cyan), 80%;
  --palette-cyan-30: var(--base-cyan), 70%;
  --palette-cyan-40: var(--base-cyan), 60%;
  --palette-cyan-50: var(--base-cyan), 50%;
  --palette-cyan-60: var(--base-cyan), 30%;

  --base-indigo: 234, 89%;
  --palette-indigo-10: var(--base-indigo), 90%;
  --palette-indigo-20: var(--base-indigo), 80%;
  --palette-indigo-30: var(--base-indigo), 70%;
  --palette-indigo-40: var(--base-indigo), 60%;
  --palette-indigo-50: var(--base-indigo), 50%;
  --palette-indigo-60: var(--base-indigo), 40%;
  --palette-indigo-70: var(--base-indigo), 30%;
  --palette-indigo-80: var(--base-indigo), 20%;

  --border-radius-0: 4px;
  --border-radius-1: 8px;
  --border-radius-2: 16px;

  --gutter: 1fr;
  --max-width-medium: 880px;
  --max-width-small: 700px;
  --layout-medium: var(--gutter) minmax(auto, var(--max-width-medium))
    var(--gutter);
  --layout-small: var(--gutter) minmax(auto, var(--max-width-small))
    var(--gutter);
}

.maximeheckel-light {
  --maximeheckel-colors-brand: hsla(var(--palette-blue-50), 100%);
  --maximeheckel-colors-body: hsla(var(--palette-gray-00), 100%);
  --maximeheckel-colors-emphasis: hsla(var(--palette-blue-50), 8%);
  --maximeheckel-colors-foreground: hsla(var(--palette-gray-10), 45%);
  --maximeheckel-colors-danger: hsla(var(--palette-red-50), 100%);
  --maximeheckel-colors-danger-emphasis: hsla(var(--palette-red-30), 8%);
  --maximeheckel-colors-warning: hsla(var(--palette-orange-50), 100%);
  --maximeheckel-colors-warning-emphasis: hsla(var(--palette-orange-50), 15%);
  --maximeheckel-colors-success: hsla(var(--palette-green-50), 100%);
  --maximeheckel-colors-success-emphasis: hsla(var(--palette-green-50), 10%);
  --maximeheckel-colors-typeface-0: hsla(var(--palette-gray-90), 100%);
  --maximeheckel-colors-typeface-1: hsla(var(--palette-gray-70), 100%);
  --maximeheckel-colors-typeface-2: hsla(var(--palette-gray-60), 100%);
  --maximeheckel-shadow-1: 0 0px 12px -6px rgba(0, 24, 40, 0.3);
  --maximeheckel-shadow-2: 0 0px 15px -6px rgba(0, 24, 40, 0.4);
  --maximeheckel-shadow-3: 0 0px 20px -6px rgba(0, 24, 40, 0.5);

  --token-comment: var(--maximeheckel-colors-typeface-2);
  --token-selector: hsl(var(--palette-indigo-40));
  --token-symbol: hsl(var(--palette-blue-60));
  --token-operator: hsl(var(--palette-orange-80));
  --token-keyworkd: hsl(var(--palette-blue-60));
  --token-function: hsl(var(--palette-pink-60));
  --token-punctuation: hsl(var(--palette-indigo-60));
}

.maximeheckel-dark {
  --maximeheckel-colors-brand: hsla(var(--palette-blue-40), 100%);
  --maximeheckel-colors-body: hsla(var(--palette-gray-95), 100%);
  --maximeheckel-colors-emphasis: hsla(var(--palette-blue-40), 8%);
  --maximeheckel-colors-foreground: hsla(var(--palette-gray-100), 55%);
  --maximeheckel-colors-danger: hsla(var(--palette-red-30), 100%);
  --maximeheckel-colors-danger-emphasis: hsla(var(--palette-red-30), 15%);
  --maximeheckel-colors-warning: hsla(var(--palette-orange-50), 100%);
  --maximeheckel-colors-warning-emphasis: hsla(var(--palette-orange-50), 15%);
  --maximeheckel-colors-success: hsla(var(--palette-green-50), 100%);
  --maximeheckel-colors-success-emphasis: hsla(var(--palette-green-50), 15%);
  --maximeheckel-colors-typeface-0: hsla(var(--palette-gray-00), 100%);
  --maximeheckel-colors-typeface-1: hsla(var(--palette-gray-20), 100%);
  --maximeheckel-colors-typeface-2: hsla(var(--palette-gray-40), 100%);
  --maximeheckel-shadow-1: 0 0px 20px -6px rgba(0, 0, 0, 0.7);
  --maximeheckel-shadow-2: 0 0px 25px -6px rgba(0, 0, 0, 0.8);
  --maximeheckel-shadow-3: 0 0px 30px -6px rgba(0, 0, 0, 0.9);

  --token-comment: var(--maximeheckel-colors-typeface-2);
  --token-selector: hsl(var(--palette-indigo-20));
  --token-symbol: hsl(var(--palette-blue-40));
  --token-operator: hsl(var(--palette-orange-40));
  --token-keyworkd: hsl(var(--palette-blue-40));
  --token-function: hsl(var(--palette-pink-40));
  --token-punctuation: hsl(var(--palette-indigo-20));
}

::selection {
  background-color: var(--maximeheckel-colors-emphasis);
  color: var(--maximeheckel-colors-brand);
}

body {
  background: var(--maximeheckel-colors-body);
  text-rendering: optimizeLegibility;
  margin: 0;
}

a {
  color: var(--maximeheckel-colors-brand);
  text-decoration: underline;
}

[hidden],
.hidden {
  display: none;
}

.lock-scroll {
  overflow: hidden !important;
}

.isCurrent > a {
  color: var(--maximeheckel-colors-brand) !important;
}

code {
  font-family: Fira Code;
  font-size: 0.85rem;
  line-height: 1.45rem;
}

/**
  The following properties are set to !important to override react-simple-code-editor
  default inline styles
**/
pre,
textarea.npm__react-simple-code-editor__textarea {
  background-color: var(--maximeheckel-colors-foreground) !important;
  font-family: Fira Code !important;
  font-size: 14px !important;
  line-height: 26px !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--token-comment);
}

.token.punctuation {
  color: var(--token-punctuation);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--token-symbol);
}

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.number,
.token.string,
.token.inserted {
  color: var(--token-selector);
}

.token.operator,
.token.entity,
.token.url,
.language-css .style {
  color: var(--token-operator);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--token-keyworkd);
}

.token.function,
.token.maybe-class-name,
.token.class-name {
  color: var(--token-function);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--token-operator);
}

span[aria-hidden='true'] {
  display: none;
}

span[aria-hidden='false'] {
  display: block;
}
